<?xml version="1.0" encoding="UTF-8"?>
<lns:library xmlns:lns="http://www.adligo.org/fabricate/xml/io_v1/library_v1_0.xsd" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >
   <lns:dependencies>
    	<lns:dependency group="org.apache.logging" artifact="log4j" version="1.2.17">
    </lns:dependency>
   </lns:dependencies>
</lns:library>
